<div class="flex justify-center">
    <table class="table-fixed bg-white">
        <thead>
            <tr class="text-left">
                <th scope="col" class="table-col">Producto</th>
                <th scope="col" class="table-col">Modelo</th>
                <th scope="col" class="table-col">Proveedor</th>
                <th scope="col" class="table-col">Precio</th>
                <th scope="col" class="table-col">Stock</th>
                <th scope="col" class="table-col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let item of productList">
                <td class="table-row-data">{{ item.producto }}</td>
                <td class="table-row-data">{{ item.modelo }}</td>
                <td class="table-row-data">{{ item.proveedor }}</td>
                <td class="table-row-data">{{ item.precio }}</td>
                <td class="table-row-data">{{ item.stock }}</td>
                <td class="table-row-data">
                    <button class="btn-primary px-2 py-1 text-xl" (click)="setThisProductToModal(item)">
                        <ng-icon name="heroEye" class="text-white"></ng-icon>
                        Ver
                    </button>
                    <button class="btn-danger px-2 py-1 text-xl" (click)="eraseProductById(item.productoid)">
                        <ng-icon name="heroTrash" class="text-white"></ng-icon>
                        Eliminar
                    </button>
                    <button class="btn-important px-2 py-1 text-xl" (click)="emitProduct(item)">
                        <ng-icon name="heroPlus" class="text-white"></ng-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>