<div class="flex w-full h-screen flex-col">
    <div class="flex-initial">
        <app-header />
    </div>
    <div class="flex-auto bg-slate-500 flex justify-center items-center flex-col">
        <app-product-modal />
        <app-item-list [toBillProducts]="toBillProducts" (EmitProductEvent)="addProduct($event)"/>
        <app-bill-detail [productList]="toBillProducts"/>
        <app-billing [productList]="toBillProducts" />
    </div>
</div>