<div class="flex justify-center flex-col">
    <div class="flex justify-center">
        <h1 class="text-4xl text-white">Detalles de la compra</h1>
    </div>
    <div>
        <table class="table-fixed bg-white">
            <thead *ngIf="productList.length > 0">
                <tr class="text-left">
                    <th scope="col" class="table-col">Producto</th>
                    <th scope="col" class="table-col">Modelo</th>
                    <th scope="col" class="table-col">Proveedor</th>
                    <th scope="col" class="table-col">Precio</th>
                    <th scope="col" class="table-col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let item of productList">
                    <td class="table-row-data">{{ item.producto }}</td>
                    <td class="table-row-data">{{ item.modelo }}</td>
                    <td class="table-row-data">{{ item.proveedor }}</td>
                    <td class="table-row-data">{{ item.precio }}</td>
                    <td class="table-row-data">{{ item.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>