<div class="flex gap-3 mt-3">
    <div class="bill-field">
        <h1 class="text-2xl">Cantidad total de productos</h1>
        <p class="text-xl">{{ getProductCount() }}</p>
    </div>
    <div class="bill-field">
        <h1 class="text-2xl">Subtotal</h1>
        <p class="text-xl">{{ getSubtotal() | currency }}</p>
    </div>
    <div class="bill-field">
        <h1 class="text-2xl">Impuestos</h1>
        <p class="text-xl">{{ getSubtotal() | taxesPipe }}</p>
    </div>
    <div class="bill-field">
        <h1 class="text-2xl">Descuento del {{ discountValue }}%</h1>
        <p class="text-xl">{{ getSubtotal() | discountPipe:discountValue }}</p>
    </div>
    <div class="bill-field">
        <h1 class="text-2xl">Total</h1>
        <p class="text-xl">{{ getTotal() | currency }}</p>
    </div>
</div>