<!-- <div class="absolute w-full bg-black/70 h-screen flex justify-center items-center top-0 left-0">
    <div class="bg-gray-300 w-1/3">
        <div class="py-3 ml-2">
            <h1 class="text-4xl font-medium">{{ title }}</h1>
        </div>
        <div class="border-b-2 bg-black"></div>
        <div></div>
    </div>
</div> -->

<div>test</div>