@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header styles */

.nav_link {
    @apply px-3 py-2 rounded-sm hover:bg-slate-800 cursor-pointer hover:text-white text-3xl;
}

/* Table styles */
.table-col {
    @apply bg-slate-800 text-white font-thin p-4 text-3xl;
}

.table-row-data {
    @apply px-4 border-b-2 border-slate-800/50 text-2xl;
}
/* Billing styles */
.bill-field {
    @apply bg-slate-800 text-white px-3 py-1;
}

/* Global styles */

.btn-primary {
    @apply bg-slate-800 text-white;
}

.btn-danger {
    @apply bg-red-600 text-white;
}

.btn-important {
    @apply bg-slate-500 text-black;
}